# Игнорировать виртуальную среду Python
venv/

# Игнорировать все файлы .pyc
*.pyc

# Игнорировать папку с временными файлами и системные файлы
.DS_Store
__pycache__/
.vscode/
.mypy_cache/
.ruff_cache/
# Игнорировать папки с данными и большими файлами
data/
*.zip
*.tar.gz
*.csv
*.xlsx

# Игнорировать библиотеки, если вы случайно добавили их в репозиторий
node_modules/
.streamlit/secrets.toml